<div class="container mx-auto pt-4">
  <section class="filmstrip2 mx-auto">
    <div class="container ">
      <div class="img-container mx-auto text-center">
        <img src="/assets/images/large/7111-b.jpg" alt="Preview" id="preview" />
        <div class="row">
            <div class="col-xs-12 col-12">
                <!-- <pagination [totalItems]="totalItems"
                    [(ngModel)]="currentPage">
                </pagination> -->
            </div>
        </div>
        
        <carousel [itemsPerSlide]="itemsPerSlide" [singleSlideOffset]="singleSlideOffset" [interval]="0"
          [noWrap]="noWrap">
          <slide *ngFor="let slide of slides; let index=index">
            <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
            <div class="carousel-caption">
              <h4>Slide {{index}}</h4>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
  </section>
</div>
