
<div id="container">
  <header>
  Code Development Project
  </header>
  <div id="main" role="main">
  <div id="large">
    <div class="group" *ngFor="let product of products.slice(currentIndex,currentIndex+1); let i=index; ">
      <img [style.transform]="'rotate(' + rotationAngle + 'deg)'" src=".//..//..//../assets/images/large/{{product.image}}" alt="Large Image" width="430" height="360" appRotateImg id="preview" />
    
      <div class="details">
        <p><strong>Title</strong>{{product.title}}</p>
                  <p><strong>Description</strong> {{product.description}}</p>
        <p><strong>Cost</strong> {{product.cost}}</p>
        <p><strong>ID #</strong> {{product.id}}</p>
        <p><strong>Thumbnail File</strong> {{product.image}}</p>
        <p><strong>Large Image File</strong> {{product.image}}</p>
      </div>
    </div>
  </div>
  <div class="controllers">
    <div class="control1 ">
      <button (click)="onPrevClick()" class="previous" [disabled]="currentIndex == 0">
        <img src="..//..//../assets/images/previous.png" alt="Previous">
        Previous
      </button>
      <button (click)="onNextClick()" [disabled]=" currentIndex == products.length - 3">
        <img src="..//..//../assets/images/next.png" class="next"alt="next">
        Next</button>
    </div>
    <div class=" control2 ">
      <div class="rotate-image mx-auto d-flex p-3  justify-content-between">
        <button (click)="rotateImage()"> <img src="assets/images/rotate-right.png" width="50px"
            class="rotate-btn p-2" alt="rightrotate"></button>
        <button (click)="rotateImage()"><img src="assets/images/rotate-left.png" class="rotate-btn p-2"
            width="50px" alt="left rotate"></button>
      </div>
    </div>
  </div>
  <div class="thumbnails">
    <div class="group" *ngFor="let item2 of products.slice(currentIndex, currentIndex+4); let i=index">
      <a href="#" title="{{item2.id}}">
        <img src=".//..//..//../assets/images/thumbnails/{{item2.thumbnail}}" alt="7111-m" width="145" height="121" appViewerStyle  (click)="onThumbnailClick(i)" />
        <span>{{item2.id}}</span>
      </a>
       <!-- <a href="#" class="active" title="7112">
        <img src=".//..//..//../assets/images/thumbnails/{{item2.thumbnail}}" alt="7111-m" width="145" height="121" />
        <span>{{item2.id}}</span>
      </a>
      <a href="#" title="7118">
        <img src=".//..//..//../assets/images/thumbnails/{{item2.thumbnail}}" alt="7111-m" width="145" height="121" />
        <span>{{item2.id}}</span>
      </a>
      <a href="#" title="7124">
        <img src=".//..//..//../assets/images/thumbnails/{{item2.thumbnail}}" alt="7111-m" width="145" height="121" />
        <span>{{item2.id}}</span>
      </a>  -->
      <span class="previous disabled" title="Previous">Previous</span>
      <a href="#" class="next" title="Next">Next</a>
    </div>
  </div>
  </div>
  <footer>
  <a href="instructions.pdf">Download PDF Instructions</a>
  </footer>
</div> <!-- eo #container -->